body {
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
    font-weight: 700;
    width: 100%;
    background: #FFFFFF;
}

button {
    font-family: inherit;
    border: none;
    cursor: pointer;
}

h1 {
    text-align: center;
    font-size: 40px;
    line-height: 50px;
}

.counter-wrapper {
    display: flex;
    flex-direction: column;
    gap: 36px;
    margin: auto; 
    max-width: 600px;
    height: 500px;
    box-shadow:
       inset 0 -3em 3em rgba(0,0,0,0.1),
             0 0  0 2px rgb(255,255,255),
             0.3em 0.3em 1em rgba(0,0,0,0.3);
}

.counter {
    margin: 0 auto;
    width: 100px;
    text-align: center;
    font-size: 32px;
    line-height: 44px;
    color: #000000;
    border: 1px solid #000000;
    border-radius: 10px;
}

.counter-btn {
    margin: 0 auto;
    max-width: 500px;
    height: 100px;
    background: #4191FF;
    border-radius: 20px;
    font-size: 32px;
    line-height: 44px;
    color: #FFFFFF;
}

.reset-btn {
    margin: 0 auto;
    max-width: 500px;
    height: 100px;
    background: #D45366;
    border-radius: 20px;
    font-size: 32px;
    line-height: 44px;
    color: #FFFFFF;
}

.counter-btn:hover,
.reset-btn:hover {
    opacity: 0.8;
}

@media (max-width:767px) {
    h1 {
        font-size: 25px;
        line-height: 30px;
    }
    .counter-wrapper {
        gap: 20px;
        width: 100%;
        height: 400px;
    }
    .counter-btn,
    .reset-btn {
        width: 100%;
    }
}